# AWS Credentials and Configuration
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE     # The access key ID for your AWS account.
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY     # The secret access key for your AWS account (keep this private).
AWS_BUCKET_NAME=my-app-bucket     # The name of the S3 bucket where images will store and retrieve them.
AWS_REGION=us-west-2     # The AWS region where your S3 bucket is located.

# Database Configuration
DB_HOSTNAME=db.example.com     # The hostname or IP address of your database server.
DB_NAME=mydatabase     # The name of the database your application will connect to.
DB_PASSWORD=s3cur3P455w0rd123     # The password for the database user (ensure this is secure).
DB_PORT=3306     # The port number on which your database server is listening (default for MySQL is 3306).
DB_USERNAME=root     # The username for your database.

# Application Configuration
ENTITIES_LIMIT=10     # The default limit for entities to be processed or retrieved in a single operation (useful for pagination).
ENTITIES_SKIP=0     # The number of entities to skip, often used for pagination.
JWT_SECRET=mySuperSecretKey     # The secret key used to sign and verify JSON Web Tokens (JWT) for authentication (keep this secure).
PORT=3000     # The port number on which your application will run (make sure this port is open and not used by other services).